body {
    background-color: rgb(159, 191, 240);
    color: rgb(143, 188, 143)
    font-family: "Lora", sans-serif;
    margin: 0px;
    margin-bottom :100px;
}

header{
border: solid 2px rgb(143, 188, 143);
font-size: 32px;
padding: 10px;
color: rgb(235, 230, 230);
}

.chamada {
   background-color:rgb(30, 87, 127); /*cor escolhida*/
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;                  /* tamanho da fonte */
    text-align: center;               /* centralizado */
    text-transform: uppercase;        /* letras maiúsculo */                 
}

p {
    font-size: 16px;
    color: rgb(58, 101, 58);
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos {
    display: flex;
    overflow: auto;
    gap: 10px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:houver {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: brown;
}